* {
    margin: 0;
    font-family: Arial;
    border: border-box;
    
}

.header {
    background-color: red;
    margin-left: 15%;
    margin-right: 15%;
    height: 100px;
    display: flex;
}

/* Logo ..... */
.logos {
    width: 20%;
    height: 100%;
    align-items: center;
    background-color: pink;
}
.logo {

    background-image: url("Image/Navbar/logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 80%;
    background-color: yellow;
}

/* Social & Contact containt */

.remain {
    width: 80%;
    height: 100%;
    background-color: greenyellow;
    display: flex;
}

.social {
    width: 20%;
    height: 100%;
    background-color: rgb(127, 229, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 8%;
}

.size {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 40%;
    width: 100%;
}

.twit {
    background-image: url("Image/Navbar/twiter.png");
}

.fb {
    background-image: url("Image/Navbar/Fb.png");
}

.pin {
    background-image: url("Image/Navbar/pl.png");
}

.insta {
    background-image: url("Image/Navbar/Insta.png");
}

/* for contact info */
.contact {
    width: 62%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.call {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 33.3%;
    align-items: center;
}

.tring {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 40%;
    width: 100%;
}
.ring {
    background-image: url("Image/Navbar/Call.png");
}
.message {
    background-image: url("Image/Navbar/Message.png");
}
.location {
    background-image: url("Image/Navbar/Location.png");
}